html{
    font-family: Georgia,Times,Times New Roman,serif;
    color:rgb(75, 74, 74)
}

body {
    background-color: #f7f7f7;
}

#header-img{
    height: 80px;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    margin: 10px;
    display: flex;
    margin: 0;
    
}

#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    
}

nav > ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
    width: 35vw;
    padding-top: 15px;
    list-style-type: none;

}

#form-section {
    padding-top: 90px;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    margin: 10px;
    padding: 5px;
    border-radius: 1.25em;
    width: 200px;
    text-align: center;
    outline: none;
    border: 1px solid rgb(139, 136, 136)
}

.btn {
    border: none;
    background-color: orange;
    padding: 10px;
    color:rgb(255, 255, 255);
    border-radius: 1.25em;
}

#icon {
    height: 50px;
}

#features {
    display: flex;
    align-items: center;
    flex-direction: column;
}

 #local {
    display: flex;
    align-items: center;
}

#ship-text {
    padding-left: 19px;
}

#local-text {
    padding-left: 30px;
}

#response-text {
    padding-left: 58px;
}

a {
    text-decoration: none;
    color: rgb(75, 74, 74)
    ;
}
a:hover{
    text-decoration: underline;
}

.btn:hover{
    background-color: lightgreen;
    color: black
}
