body {
    background-color: rgb(68, 67, 67);
}

img{
    height: 80px;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    margin: 10px;
    display: flex;
    margin: 0;
}

#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
}

nav > ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
    width: 35vw;
}

#form-section {
    padding-top: 90px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
